TELEGRAM_BOT_TOKEN=your_token_from_botfather
GITHUB_TOKEN=ghp_your_personal_access_token
GITHUB_REPO=akashkguw/babybloom
ALLOWED_USERS=your_telegram_username
TELEGRAM_CHAT_ID=your_chat_id
VITE_SENTRY_DSN=https://your_key@your_org.ingest.sentry.io/your_project_id
SENTRY_AUTH_TOKEN=sntryu_your_auth_token_here
SENTRY_ORG=your_sentry_org_slug
SENTRY_PROJECT=your_sentry_project_slug
